/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
@font-face {
  font-family: "lato";
  src: url('/fonts/lato.eot') format('embedded-opentype'), url('/fonts/lato.ttf') format('truetype'), url('/fonts/lato.svg') format('svg');
}
@font-face {
  font-family: "lato-regular";
  src: url('/fonts/lato-regular.eot') format('embedded-opentype'), url('/fonts/lato-regular.ttf') format('truetype'), url('/fonts/lato-regular.svg') format('svg');
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'lato-regular';
}
html, body {
  height: 100%;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #005f63;
}
a:hover {
  opacity: .7;
}
a:visited {
  color: #005f63;
}
.fa {
    vertical-align: middle;
}

.homepage {
  line-height: 1.5;
  padding-left: 130px;
  color: #005f63;
  text-align: center;
  margin: auto;
  background-color: #e4f4f3;
}
.heading h1 {
  font-size: 40px;
  padding: 10px 0;
  font-family: 'lato';
  display: inline-block;
}
.heading h3 {
  color: #01a093;
  font-size: 1.7rem;
  letter-spacing: .15rem;
  padding-bottom: 10px;
  font-family: 'lato';
}
.heading h4 {
  font-size: 1.4rem;
  padding-bottom: 15px;
  font-family: 'lato';
}
.navigation-bar {
  height: 100%;
  width: 130px;
  background-color: #25a7ac;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
.nav-links a {
  margin-top: 20px;
  display: block;
  text-align: left;
  padding-left: 27px;
}
.logo-container {
  margin: auto;
}
.logo {
  max-height: 75px;
  padding: 25px 0;
  display: block;
  margin: auto;
}
.heading {
  padding: 40px 0 25px 0;
  width: 100%;
}
.heading a:hover {
  color: #005f63;
}
.section-marker {
  max-width: 750px;
  width: 80%;
  margin: 50px auto;
  height: 2px;
  border-radius: 8px;
  border-bottom: 2px solid #14cfd8;
}

/*HOMEPAGE*/
.projects {
  display: flex;
  flex-direction: column;
  padding-bottom: 75px;
}
.projects h4, .about h4, .contact h4 {
  font-size: 1.2rem;
}
.projects img {
  width: 825px;
  max-width: 90%;
  border: 2px solid #005f63;
  border-radius: 30px;
  margin: 10px;
}
.projects .text-link {
  width: 100px;
  margin: auto;
  margin-bottom: 35px;
  color: #15b7bf;
  background-color: #005f63;
  border-radius: 12px;
  padding: 3px;
}
.colors {
  height: 50px;
  width: 50px;
  border: 2px solid black;
}
.icon {
  width: 90px;
  height: 90px;
  position: relative;
  margin: auto;
}
.about {
  width: 825px;
  max-width: 90%;
  margin: auto;
}
/*.about .third {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}*/
.about img {
  height: 150px;
  float: right;
}
.about p {
  text-align: left;
  padding: 30px 175px 0 0
}
.about a {
  clear: both;
  display: block;
  font-weight: 600;
  padding-top: 20px;
}
.skills-familiar {
  margin: auto;
  clear: both;
  text-align: left;
}
.skills-familiar .heading {
  padding: 10px;
  padding: 10px 0 10px 30px;
  font-family: 'lato';
}
.contact {
  padding-bottom: 75px;
  max-width: 90%;
  margin: auto;
}
a.social-icon img {
  width: 40px;
  padding: 10px;
}
footer p {
  font-size: .8rem;
  margin-bottom: 0;
}
footer img {
  width: 15px;
}

/*Resume Page Styles*/
.resume-page {
  line-height: 1.5;
  padding-left: 130px;
  color: #005f63;
  text-align: left;
  margin: auto;
  background-color: #e4f4f3;
}
.resume-page .heading {
  text-align: center;
}
.resume-page ul {
  list-style-type: circle;
  padding-left: 30px;
}
.resume-page .section-marker {
  margin: 50px auto 0;
}
.resume-contact-links {
  padding-top: 20px;
}
.resume-contact-links a {
  padding: 0 8px;
  display: inline-block
}
.pdf-link {
  padding-top: 25px;
  display: block;
}
.skills, .experience, .education, .references {
  border: 5px solid #04c9d1;
  border-bottom: 20px solid #04c9d1;
  width: 97%;
  max-width: 1000px;
  margin: 0 auto 15px;
}
.skills h1, .experience h1, .education h1, .references h1 {
  background-color: #04c9d1;
  color: #eefbfa;
  padding: 5px 0 5px 10px;
}
/*skills section*/
.skills h3 {
  padding-left: 20px;
}
.skills-list {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.skills ul {
  margin-top: 0
}
/*references section*/
.references i {
  padding-right: 8px;
}
.hide_on_desktop {
  display: none;
}
.hide_on_400 {
  display: block;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 800px) {
  .heading h1 {
    font-size: 1.8rem;
  }
  .heading h3 {
    font-size: 1.2rem;
    padding: 0;
  }
  /*.about .third {
    width: 48%;
  }*/
  .about img {
    float: none;
    padding-top: 30px;
  }
  .about p {
    padding: 0;
  }
  .skills-familiar {
    padding-left: 10%;
  }
  .skills-list {
    width: 90%;
    display: block
  }
  .skills, .experience, .education, .references {
    max-width: 90%;
  }
}
@media only screen and (max-width: 480px) {
  .heading h3 {
    font-size: 1rem;
  }
  .resume-contact-links a {
    display: block;
  }
  .hide_on_desktop {
    display: block;
  }
  .hide_on_480 {
    display: none;
  }
  .skills, .experience, .education, .references {
    line-height: 1.8rem;
  }
  .homepage, .resume-page {
    padding-left: 0;
  }
  .heading {
    padding: 100px 0 25px 0;
  }
/*hamburger menu*/
  .mobile_nav {
    height: 60px;
    background-color: #25a7ac;
    text-align: left;
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  .logo {
    max-height: 55px;
    padding: 0 0 0 20px;
    display: inline-block;
  }
  .ham_menu {
    float: right;
    cursor: pointer;
    margin-top: 15px;
  }
  .ham_menu div {
    position: absolute;
    left: 100%;
  }
  .ham_menu span {
    display: block;
    width: 30px;
    height: 4px;
    margin: 4px 20px 0 0;
    border-radius: 1px;
    background: #fff;
    z-index: 4;
  }
  .responsive-menu{
    display: none;
    clear:both;
  }
  ul.mobile-ham-nav-list {
      list-style: none;
      padding: 6px 0 0 15px;
      text-align: left;
    }
  .expand {
    display: block !important;
    height: 180px;
    line-height: 1.6;
    font-size: 1.2em;
    width: 160px;
    float: right;
    border-radius: 8px;
    background-color: #25a7ac;
  }
/*end hamburger menu*/
}